/* TODO: DELETE */
:root {
  --site-background-color: white;
  --link-color: gray;
  --link-color-hover: black;
  --link-color-selected: black;
  --social-media-icon-link-color: gray;
  --social-media-icon-link-color-hover: gray;
}