@import '../../../global/colors.css';

.sidebar-item-container a {
  margin-left: 40px;
}

.sidebar-item-container a:link, a:visited {
  text-decoration: none;
  color: var(--link-color);
}

.sidebar-item-container a:hover {
  text-decoration: none;
  color: var(--link-color-selected);
}

.sidebar-item-container  a.active {
  text-decoration: none;
  color: var(--link-color-hover);
}