@import '../../../global/colors.css';

.sidebar-item-container {
  text-align: right;
}

.sic-mobile {
  text-align: center;
  font-size: 1.5rem;
}

.sidebar-item-container a {
  margin-right: 25px;
}

.sidebar-item-container a:link, a:visited {
  text-decoration: none;
  color: var(--link-color);
}

.sidebar-item-container a:hover {
  text-decoration: none;
  color: var(--link-color-selected);
}

.sidebar-item-container a.active {
  text-decoration: none;
  margin-right: 10px;
  color: var(--link-color-hover);
}

.sic-mobile a {
  margin-right: 0px;
}

.sic-mobile a.active {
  margin-right: 0px;
}

.sidebar-item-container a:hover span {
  display:none;
}
