@import '../../../global/colors.css';

.sidebar-item-container {
  text-align: right;
  font-size: 1rem;
}

.sidebar-subitem-container {
  font-size: 0.75rem;
  height: 18px;
  opacity: 1;
  transition: height 0.4s ease,
              opacity 0.4s ease;
}

.sidebar-subitem-hidden {
  height: 0;
  opacity: 0;
}

.sic-mobile {
  text-align: center;
  font-size: 1.5rem;
}

.sidebar-item-container a {
  margin-right: 25px;
  transition: margin-right 0.2s ease;
}

.subitem-div-hidden {
  height: 0px;
  opacity: 0;
}

.sidebar-item-container a:link, a:visited {
  text-decoration: none;
  color: var(--link-color);
}

.sidebar-item-container a:hover {
  text-decoration: none;
  color: var(--link-color-selected);
}

.sidebar-item-container a.active {
  text-decoration: none;
  color: var(--link-color-hover);
  margin-right: 10px;
}

.sidebar-item-sub-header > a {
  margin-right: 10px;
}

.sic-mobile {
  height: unset;
  opacity: 1;
}

.sic-mobile a {
  margin-right: 0px;
}

.sic-mobile a.active {
  margin-right: 0px;
}

.sidebar-item-container a:hover span {
  display:none;
}
