@import '../../global';

.scroll {
  height: 100%;
  overflow: auto;
}

.scroll-mobile {
  height: unset;
}

.sidebar-spacer {
  height: 24px;
}

.contact {
  text-align: center;
  margin: 0;
}

.phone {
  font-size: 0.75rem;
}

.email {
  font-size: 0.65rem;
}

.sidebar-icons-container {
  display: flex;
  justify-content: center;
}

.mobile-centering-spacer {
  height: var(--mobile-tray-height);
}
