@import '../../global';

.phantom-tray {
  display: block;
  height: var(--mobile-tray-height);
  width: 100%;
}

.mobile-tray-container {
  z-index: 9000;
  background-color: white;
  border-color: gray;
  border-top-style: solid;
  border-width: 1px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: var(--mobile-tray-height);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 56px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "sm-icons bm-bars";
}

.sm-icons-container {
  grid-area: "sm-icons";
  display: flex;
  align-items: center;
}

.sm-icons-container div {
  margin-left: 4px;
}

.bm-bars-container {
  grid-area: "bm-bars";
  display: flex;
  justify-content: center;
  align-items: center;
}
