@import './global/colors.css';

.main-div {
  height: 100vh;
  width: 100vw;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 200px;
  overflow: hidden;
  z-index: 1;
  background-color: var(--site-background-color);
}

.sidebar-mobile {
  background-color: var(--site-background-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content {
  margin-left: 200px;
}
