.slick-track {
  display: flex !important;
  height: 100vh;
}

.slick-slide {
  display: flex !important;
  height: auto !important;
}

.slick-slide div {
  padding: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.slick-slide div img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery-close {
  z-index: 1;
  position: fixed;
  top: 40px;
  right: 40px;
}